body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    justify-content: center;
    grid-gap: 3px;
}

div {
    border: 1px solid black;
    padding: 10px;
    max-width: 10px;
}