<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.D20231123_2"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" android:exported="false">
            <intent-filter>
                <!-- 指定該Activity能回應action為指定字串的Intent -->
                <action android:name="org.crazyit.intent.action.CRAZYIT_ACTION" />
                <!-- 指定該Activity能回應category為指定字串的Intent -->
                <category android:name="org.crazyit.intent.category.CRAZYIT_CATEGORY" />
                <!-- 指定該Activity能回應category為android.intent.category.DEFAULT的Intent -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>